<div class="login-box auth0-box before">
    <img src="https://i.cloudup.com/StzWWrY34s.png" />
    <h3>Auth0 Example</h3>
    <p>Zero friction identity infrastructure, built for developers</p>
    <a class="btn btn-primary btn-lg btn-login btn-block" href="https://billowing-snowflake-1046.us.auth0.com/login?state=g6Fo2SBlZEJYSEIwUEZCVDdRMEtlcEI5cHRrSnJnYUx3eFVTWKN0aWTZIHg4Zjd0bzN0NEFnQWZZZlV0OEJ5V1NwUi1BcWp5M2pCo2NpZNkgeEYwWUEzSFhxYnl6NElScms1T0s5UHd2akFDYUtFdUw&client=xF0YA3HXqbyz4IRrk5OK9PwvjACaKEuL&protocol=samlp">Log In</a>
</div>